@media only screen and (max-width: 767px) {
    #head img {
        width: 350px;
        height: 90px;
        position: absolute;
        top: -50px;
    }
    #subtitle {
        font-size: 11px;
        color: white;
        position: absolute;
        top: 190px;
        left: 70px;
        font-family: 'Rubik Wet Paint', cursive;
    }
    #head-content {
        font-size: 10px;
        position: absolute;
        top: 220px;
        color: white;
        left: 20px;
        width: 440px;
        padding-bottom: 4px;
        font-family: "Orbitron", sans-serif;
    }
    #srms {
        color: white;
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        padding: 10px;
        color: red;
        margin-top: 0px;
        font-family: 'Poppins', sans-serif;
    }
    #srms-content {
        font-family: 'Poppins', sans-serif;
        font-size: 17px;
        color: #fff;
        margin-left: 10px;
    }
    .card {
        margin-bottom: 20px;
        width: 180px;
        height: 300px;
        border-radius: 10px;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
        transition: 0.3s;
        color: white;
        background: #fff;
        text-align: center;
        background: rgba( 44, 187, 237, 0.25);
    }
    .imgbox img {
        border-radius: 100%;
        text-align: center;
        padding: 10px;
        width: 120px;
        height: 120px;
    }
    .tyro-repr {
        display: grid;
        grid-template-columns: max-content max-content max-content;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 967px) {
    #head img {
        width: 350px;
        height: 90px;
        position: absolute;
        top: -50px;
    }
    #subtitle {
        font-size: 11px;
        color: white;
        position: absolute;
        top: 190px;
        left: 70px;
        font-family: 'Rubik Wet Paint', cursive;
    }
    #head-content {
        font-size: 13px;
        position: absolute;
        top: 220px;
        color: white;
        left: 20px;
        width: 400px;
        font-family: "Orbitron", sans-serif;
    }
    #srms {
        color: white;
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        padding: 10px;
        color: red;
        margin-top: 0px;
        font-family: 'Poppins', sans-serif;
    }
    .tyro-repr {
        display: grid;
        grid-template-columns: max-content max-content max-content max-content;
        justify-content: space-around;
    }
}